// Teleport Desktop UI - Windows Resource File
#include <windows.h>

// Version information
VS_VERSION_INFO VERSIONINFO
FILEVERSION 1,0,0,0
PRODUCTVERSION 1,0,0,0
FILEFLAGSMASK VS_FFI_FILEFLAGSMASK
FILEFLAGS 0
FILEOS VOS_NT_WINDOWS32
FILETYPE VFT_APP
FILESUBTYPE VFT2_UNKNOWN
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904B0"
        BEGIN
            VALUE "CompanyName", "Teleport"
            VALUE "FileDescription", "Teleport File Transfer"
            VALUE "FileVersion", "1.0.0.0"
            VALUE "InternalName", "Teleport"
            VALUE "LegalCopyright", "Copyright (C) 2024"
            VALUE "OriginalFilename", "Teleport.exe"
            VALUE "ProductName", "Teleport"
            VALUE "ProductVersion", "1.0.0.0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0409, 0x04B0
    END
END
